[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tabulate = "*"
pymongo = "*"
numpy = "*"
scipy = "*"
logutils = "*"
pyparsing = "*"
psutil = "*"
matplotlib = "*"
networkx = "*"
mpmath = "*"
image = "*"
dnutils = "*"
appdirs = "*"
Pmw = "*"
pytest = "*"

[requires]
python_version = "3.6"
